<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/dashboard.css">
    <title>To Do App</title>
</head>

<body class="body">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-info p-4">
            <h5 class="text-white h4">To Do App</h5>
            <a href="/account/logout" id="signout">
                <button type="button" class="btn btn-primary">Sign Out</button>
            </a>
        </div>
    </div>
    <nav class="navbar navbar-light bg-info">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-brand mb-0 h1"> To Do App</span>
            </button>
            <div class="navbar-brand" href="#">
                <a class="navbar-brand">
                    <%=name%>
                </a>
                <img class="profilepic" src="<%=picture%>" alt="">
            </div>
        </div>
    </nav>
    <main>
        <div class="main">
            <div class="card taskcontainer">
                <div class="card-body">
                    <form method="post" action="/account/add-task">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Add Task" name="task"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Add</button>
                        </div>
                    </form>
                    <h3>Remaining Task</h3>
                    <form action="/account/complete-task" method="post">
                        <% remaining_task.forEach(function(task){ %>
                            <div class="form-check rounded">
                                <input class="form-check-input" type="checkbox" value="<%= task%>" name="complete-task"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    <h5>
                                        <%= task %>
                                    </h5>
                                </label>
                            </div>
                            <% }); %>
                                <button class="btn btn-outline-primary" type="submit"
                                    id="button-addon2">Complete</button>
                    </form>
                </div>
            </div>
            <div class="card taskcontainer">
                <div class="card-body">
                    <h3>Completed Task</h3>
                    <% completed_task.forEach(function(task){ %>
                        <div class="card completedtask">
                            <div class="card-body">
                                <h5>
                                    <%= task %>
                                </h5>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; Ved</p>

        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="https://github.com/ved-02" class="nav-link px-2 text-muted">GitHub</a></li>
            <li class="nav-item"><a href="https://twitter.com/veedTiwari" class="nav-link px-2 text-muted">Twitter</a>
            </li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/ved-prakash-t-40a421200/"
                    class="nav-link px-2 text-muted">LinkedIn</a></li>
        </ul>
    </footer>
    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>